<h1>Comments</h1>
<div class="form-group">
    <textarea name="comments" id="comments" class="form-control"><%= article.comments %></textarea>
</div>
<button type="submit" class="btn btn-danger">Post Comment</button>